	    	body{
       background-image: linear-gradient(to right bottom, #000000, #140a11, #1b1320, #191c32, #012743);
                  }
    	  .blue-a{
          color: aqua;
          font-size: 20px;
        }
        .blue-h1{
          font-size: 65px;
          font-style: italic;
          font-weight: bolder;
          color: aqua;
        }
        .blue-h2{
          font-size: 40px;
          font-style: italic;
          color: aqua;
        }
        .small{
          font-size: 7.5px;
          color: aqua;
        }
        .statya{
          color: aqua;
          font-size: 25px;

        }
        .blue-h6{
          color: aqua;
        }
        .blue-1-button{
          background-color: black;
          padding: 30px;
          margin-right: 15px;
          border-width: 7.5px;
          border-color: aqua;
          border-style: outset;
          cursor: pointer;
        }
