.child_2-5-silka{
position: relative;
width: 180px;
height: 180px;
left: 1151px;
top: -800px;
border-radius: 25%;
border: 2px solid #000;
background: #C4C4C4;
}

.child_2-4-silka{
position: relative;
width: 180px;
height: 180px;
left: 890px;
top: -700px;
border-radius: 25%;
border: 2px solid #000;
background: #C4C4C4;
}
.child_2-3-silka{
position: relative;
width: 181px;
height: 180px;
left: 629px;
top: -600px;
border-radius: 25%;
border: 2px solid #000;
background: #C4C4C4;
}
.child_2-2-silka{
position: relative;
width: 180px;
height: 180px;
left: 369px;
top: -500px;
border-radius: 25%;
border: 2px solid #000;
background: #C4C4C4;
}
.child_2-1-silka{
position: relative;
width: 180px;
height: 180px;
left: 108px;
top: -400px;
border-radius: 25%;
border: 2px solid #000;
background: #C4C4C4;
}
.child_1-5-silka{
position: relative;
width: 180px;
height: 180px;
left: 1151px;
top: -151px;
border-radius: 25%;
border: 2px solid #000;
background: #C4C4C4;
}
.child_1-4-silka{
position: relative;
width: 180px;
height: 180px;
left: 890px;
top: -51px;
border-radius: 25%;
border: 2px solid #000;
background: #C4C4C4;
}
.child_1-3-silka{
position: relative;
width: 181px;
height: 180px;
left: 629px;
top: 49px;
border-radius: 25%;
border: 2px solid #000;
background: #C4C4C4;
}
.child_1-2-silka{
position: relative;
width: 180px;
height: 180px;
left: 369px;
top: 149px;
border-radius: 25%;
border: 2px solid #000;
background: #C4C4C4;
}
.child_1-1-silka{
position: relative;
width: 180px;
height: 180px;
left: 108px;
top: 249px;
border-radius: 25%;
border: 2px solid #000;
background: #C4C4C4;}
.parent-silka{
position: absolute;
width: 1225px;
height: 398px;
left: 0px;
top: 100px;
}